@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color */
  --clr-main-dark: #07242b;
  --clr-main: #0f4c5c;
  --clr-main-light: #1d8fac;
}

body {
  background-color: var(--clr-main-dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
